.app {
  text-align: center;
  padding-top: 7vh;
}

input {
  background-color: green;
}

#containSquares {
  width: 220px;
  height: 220px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.square {
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 10px;
  background-color: rgb(219, 219, 219);
  cursor: pointer;
}

.chosenSquare {
  background-color: red;
}
